/*------------------------------------*\
  #FONTS
\*------------------------------------*/


/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* typography */
    --global-font-size-xs: 75%;
    /* 12px */
    --global-font-size-s: 87.5%;
    /* 14px */
    --global-font-size-normal: 112.5%;
    /* 18px */
    --global-font-size-m: 150%;
    /* 24px */
    --global-font-size-l: 187.5%;
    /* 30px */
    --global-font-size-xl: 225%;
    /* 36px */
    --global-font-size-xxl: 262.5%;
    /* 42px */
    /* colors */
    --main-collor-background: #5c69f2;
    --main-color-Text: #eaf3fb;
    --main-color-selected: #8fb7f3;
    --main-color-focus: #789acc;
    --main-color-white: #fff;
    --main-color-toggle-checked: #2196f3;
    --main-color-toggle-notchecked: #fff;
    --main-color-toggle-dot: #ccc;
    /* whitespace/pixels */
    /* 18px = 1rem */
    --one-pixel: calc(1rem / 18);
    --whitespace-xxs: calc(var(--one-pixel) * 5);
    --whitespace-xs: calc(var(--one-pixel) * 10);
    --whitespace-s: calc(var(--one-pixel) * 15);
    --whitespace-m: calc(var(--one-pixel) * 20);
    --whitespace-normal: calc(var(--one-pixel) * 25);
    --whitespace-l: calc(var(--one-pixel) * 30);
    --whitespace-xl: calc(var(--one-pixel) * 35);
    --whitespace-xxl: calc(var(--one-pixel) * 40);
    --whitespace-xxxl: calc(var(--one-pixel) * 45);
    --whitespace-big: calc(var(--one-pixel) * 50);
    --whitespace-extrabig: calc(var(--one-pixel) * 55);
    --whitespace-extreem: calc(var(--one-pixel) * 60);
}


/*------------------------------------*\
  #GENERIC
\*------------------------------------*/


/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: var(--global-font-size-normal);
    line-height: var(--whitespace-m);
    font-family: "Mulish", arial, sans-serif;
    color: var(--main-color-Text);
    background-color: var(--main-collor-background);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: var(--main-color-selected);
    color: var(--main-color-white);
    text-shadow: none;
}

::selection {
    background: var(--main-color-selected);
    color: var(--main-color-white);
    text-shadow: none;
}


/*------------------------------------*\
  #Elements
\*------------------------------------*/


/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

img {
    height: 140px;
    max-width: 140%;
    vertical-align: top;
}


/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 400;
}

h1 {
    font-size: var(--global-font-size-xl);
    line-height: var(--whitespace-big);
    margin: 0 0 0;
    font-weight: 400;
}

h2 {
    font-size: var(--global-font-size-l);
    line-height: var(--whitespace-l);
    font-weight: 400;
    margin: 0 0 var(--whitespace-normal);
}

h3 {
    font-size: var(--global-font-size-xl);
    line-height: var(--whitespace-big);
    font-weight: 600;
    margin: 0 0 var(--whitespace-normal);
}

h4 {
    font-size: var(--global-font-size-m);
    line-height: var(--whitespace-l);
    font-weight: 500;
    margin: 0 0 var(--whitespace-normal);
}

h5,
h6 {
    font-size: var(--global-font-size-s);
    line-height: var(--whitespace-normal);
    font-weight: 400;
    margin: 0 0 var(--whitespace-normal);
}

p {
    font-weight: 400;
    font-size: var(--global-font-size-s);
    margin: 0 0 0;
}

ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 var(--whitespace-normal);
}

ul,
ol {
    padding-left: var(--whitespace-normal);
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: var(--global-font-size-m);
    line-height: var(--whitespace-l);
    margin: 0 0 var(--whitespace-normal);
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: var(--global-font-size-xs);
    line-height: var(--whitespace-s);
    margin-top: var(--whitespace-xs);
}

hr {
    border: 0;
    height: 1px;
    background: var(--main-color-selected);
    margin: 0 0 var(--whitespace-normal);
}

a {
    color: var(--main-color-selected);
    transition: all 0.1s ease-in-out;
}

a:visited,
a:active {
    color: var(--main-color-selected);
}

a:hover,
a:focus {
    color: var(--main-color-focus);
}


/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/


/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding: var(--whitespace-normal) var(--whitespace-normal) 0;
    display: flex;
}


/* size modifiers */

.o-row--lg {
    padding: var(--whitespace-xxxl) var(--whitespace-normal) var(--whitespace-normal);
}

@media (min-width: 768px) {
    .o-row {
        padding-left: 48px;
        padding-right: 48px;
    }
    .o-row--md {
        padding-top: 48px;
        padding-bottom: 24px;
    }
    .o-row--lg {
        padding-top: 72px;
        padding-bottom: 48px;
    }
}


/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 44.4444444em;
    /* 55.55555 * 18px = 1000px */
}


/* 
    voor de balk ik het midden (Humidity-Pressure-Wind) 
*/

.o-container-grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
    background-color: var(--main-color-Text);
    color: var(--main-collor-background);
    margin-left: auto;
    margin-right: auto;
    max-width: 44.4444444em;
    /* 44.4444444 18px = 800px */
    height: 8.333333333rem;
    border-radius: var(--whitespace-s);
    grid-column-gap: var(--whitespace-xxl);
}

@media (max-width: 28em) {
    .o-container-grid-container {
        display: block;
        height: auto;
        padding-top: var(--whitespace-xxs);
        padding-bottom: var(--whitespace-xxs);
    }
}


/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
    display: flow-root;
    /* New solution! Fixes margin collapsing */
}

.o-section+.o-section {
    margin-top: var(--whitespace-normal);
}

@media (min-width: 768px) {
    .o-section--lg+.o-section--lg,
    .o-section--xl+.o-section--xl {
        margin-top: var(--whitespace-big);
    }
}

@media (min-width: 1200px) {
    .o-section--xl+.o-section--xl {
        margin-top: var(--whitespace-extreem);
    }
}


/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
    display: flex;
    flex-wrap: wrap;
}

.o-layout__item {
    flex-basis: 100%;
}


/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
    margin: 0 -12px;
}

.o-layout--gutter>.o-layout__item {
    padding: 0 12px;
}

.o-layout--gutter-sm {
    margin: 0 -6px;
}

.o-layout--gutter-sm>.o-layout__item {
    padding: 0 6px;
}

.o-layout--gutter-lg {
    margin: 0 -24px;
}

.o-layout--gutter-lg>.o-layout__item {
    padding: 0 24px;
}


/* reverse horizontal row modifier */

.o-layout--row-reverse {
    flex-direction: row-reverse;
}


/* Horizontal alignment modifiers*/

.o-layout--justify-start {
    justify-content: flex-start;
}

.o-layout--justify-end {
    justify-content: flex-end;
}

.o-layout--justify-center {
    justify-content: center;
}

.o-layout--justify-space-around {
    justify-content: space-around;
}

.o-layout--justify-space-evenly {
    justify-content: space-evenly;
}

.o-layout--justify-space-between {
    justify-content: space-between;
}


/* Vertical alignment modifiers */

.o-layout--align-start {
    align-items: flex-start;
}

.o-layout--align-end {
    align-items: flex-end;
}

.o-layout--align-center {
    align-items: center;
}

.o-layout--align-baseline {
    align-items: baseline;
}


/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-layout--align-content-start {
    align-content: start;
}

.o-layout--align-content-end {
    align-content: end;
}

.o-layout--align-content-center {
    align-content: center;
}

.o-layout--align-content-space-around {
    align-content: space-around;
}

.o-layout--align-content-space-between {
    align-content: space-between;
}


/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}


/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

.c-align-item {
    text-align: center;
}

.c-item-combine {
    margin: 0 0 0px;
}

.c-grid-item {
    text-align: center;
    margin-top: var(--whitespace-s);
    margin-bottom: var(--whitespace-xs);
}

.c-item-margin-lg {
    margin-bottom: var(--whitespace-big);
}

.c-item-margin-ls {
    margin-bottom: var(--whitespace-m);
    margin-top: var(--whitespace-m);
}


/* 
  component voor het icon van de locatie.
*/

.c-icon {
    fill: var(--main-color-Text);
    margin-right: var(--whitespace-xxs);
    width: var(--whitespace-l);
    height: var(--whitespace-l);
}


/* 
  Toggle Switch
*/

.c-switch {
    position: relative;
    display: inline-block;
    width: var(--whitespace-extreem);
    height: var(--whitespace-xl);
}

.c-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-color-toggle-dot);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.c-switch-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.c-switch-slider:before {
    position: absolute;
    content: "";
    height: var(--whitespace-normal);
    width: var(--whitespace-normal);
    left: var(--whitespace-xxs);
    bottom: var(--whitespace-xxs);
    background-color: var(--main-color-toggle-notchecked);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

.c-switch-input:checked+.c-switch-slider {
    background-color: var(--main-color-toggle-checked);
}

.c-switch-input:focus+.c-switch-slider {
    box-shadow: 0 0 1px var(--main-color-toggle-checked);
}

.c-switch-input:checked+.c-switch-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.c-item-margin {
    margin-right: var(--whitespace-m);
    margin-top: var(--whitespace-extrabig);
    margin-bottom: var(--whitespace-m);
    font-size: var(--global-font-size-normal);
}

.c-item-margin-switch {
    margin-top: var(--whitespace-extrabig);
    margin-bottom: var(--whitespace-m);
}


/*------------------------------------*\
  #UTILITIES
\*------------------------------------*/


/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}


/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 18em !important;
}

.u-max-width-sm {
    max-width: 32em !important;
}

.u-max-width-md {
    max-width: 42em !important;
}

.u-max-width-lg {
    max-width: 60em !important;
}

.u-max-width-xl {
    max-width: 70em !important;
}

.u-max-width-none {
    max-width: none !important;
}


/*
    Utility: Flex
    ---
    Utility classes to put specific flex properties onto elements
    Will be mostly used on o-layout__item
*/

.u-flex-basis-auto {
    flex-basis: auto !important;
}

.u-flex-grow-1 {
    flex-grow: 1 !important;
}

.u-1-of-2 {
    flex-basis: calc(100% / 2) !important;
}

.u-1-of-3 {
    flex-basis: calc(100% / 3) !important;
}

.u-2-of-3 {
    flex-basis: calc(100% / 3 * 2) !important;
}

.u-1-of-4 {
    flex-basis: calc(100% / 4) !important;
}

.u-3-of-4 {
    flex-basis: calc(100% / 4 * 3) !important;
}

.u-1-of-5 {
    flex-basis: calc(100% / 5) !important;
}

.u-2-of-5 {
    flex-basis: calc(100% / 5 * 2) !important;
}

.u-3-of-5 {
    flex-basis: calc(100% / 5 * 3) !important;
}

.u-4-of-5 {
    flex-basis: calc(100% / 5 * 4) !important;
}

.u-1-of-6 {
    flex-basis: calc(100% / 6) !important;
}

.u-5-of-6 {
    flex-basis: calc(100% / 6 * 5) !important;
}

@media (min-width: 576px) {
    .u-1-of-2-bp1 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp1 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp1 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp1 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp1 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp1 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp1 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp1 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp1 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp1 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp1 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 768px) {
    .u-1-of-2-bp2 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp2 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp2 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp2 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp2 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp2 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp2 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp2 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp2 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp2 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp2 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 992px) {
    .u-1-of-2-bp3 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp3 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp3 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp3 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp3 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp3 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp3 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp3 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp3 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp3 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp3 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 1200px) {
    .u-1-of-2-bp4 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp4 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp4 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp4 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp4 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp4 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp4 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp4 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp4 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp4 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp4 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}


/*------------------------------------*\
  #MEDIA
\*------------------------------------*/


/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/


/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in mobile first design
*/


/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/


/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/


/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/


/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/


/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}